{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/custom.css' %}" >
    <title>{% block title %} {% endblock %}</title>
</head>
<body>


  <div class="container my-header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-2 mb-2 mb-md-0">
        <a href="/" class="navbar-left"><img width="120px" alt="Frame" src="{% static 'img/fine_logo.svg' %}"></a>
      </div>

     <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/admin_codes" class="nav-link px-2 hvt text-danger">QR-коды</a></li>
        <li><a href="/admin_shop" class="nav-link px-2 hvt text-danger">Магазин</a></li>
        <li><a href="/admin_courses" class="nav-link px-2 hvt text-danger">Курсы</a></li>
        <li><a href="/admin_registrations" class="nav-link px-2 hvt text-danger">Регистрации</a></li>
         {% if request.user.Role == 'Admin' %}
        <li><a href="/admin_users" class="nav-link px-2 hvt text-danger">Пользователи</a></li>

         {% endif %}
      </ul>

      <div class="col-md-4 text-end">
           <a href="/" class="btn btn-outline-danger my-mine2 my-2"><div class="hvt">Главный сайт</div></a>
      </div>
    </header>
  </div>
  <nav class="navbar navbar-expand-md navbar-light bg-light d-md-none">
      <div class="container-fluid">
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobileMenu" aria-controls="navbarMobileMenu" aria-expanded="false" aria-label="Меню">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMobileMenu">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
              <li class="nav-item">
                  <a href="/" class="navbar-left"><img alt="Frame" width="120px" src="{% static 'img/fine_logo.svg' %}"></a>
                </li>
             <li class="nav-item">
              <a class="nav-link" href="/admin_codes"><div class="hvt">QR-коды</div></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin_shop"><div class="hvt">Магазин</div></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin_courses"><div class="hvt">Курсы</div></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin_registrations"><div class="hvt">Регистрации</div></a>
            </li>
               {% if request.user.Role == 'Admin' %}
                <li class="nav-item">
                  <a class="nav-link" href="/admin_users"><div class="hvt">Пользователи</div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin_commands"><div class="hvt">Команды</div></a>
                </li>

              {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/"><div class="hvt">Главный сайт</div></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}

    {% endblock %}

</body>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block scripts %}

{% endblock %}
</html>