{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/custom.css' %}" >
    <title>{% block title %} {% endblock %}</title>
</head>
<body>


  <div class="container my-header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-2 mb-2 mb-md-0">
        <a href="/" class="navbar-left"><img width="120px" alt="Frame" src="{% static 'img/fine_logo.svg' %}"></a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/lectures" class="nav-link px-2 hvt">Лекции</a></li>
        <li><a href="/master-classes" class="nav-link px-2 hvt">Мастер-классы</a></li>
        <li><a href="/shop" class="nav-link px-2 hvt">Магазин</a></li>
      </ul>

      <div class="col-md-4 text-end">
          {% if request.user.is_authenticated %}
            <a href="/profile" class="btn btn-outline-primary my-mine2 my-2"><div class="hvt">Мой профиль</div></a>
              {% if request.user.Role in 'Admin,Manager' %}
                 <a href="/admin_codes" class="btn btn-outline-danger my-mine2 my-2"><div class="hvt">Админ панель</div></a>
              {% endif %}
          {% else %}
            <a href="/login" class="btn btn-outline-primary my-mine2 my-2"><div class="hvt">Авторизация</div></a>
            <a href="/reg" class="btn btn-outline-primary"><div class="hvt">Регистрация</div></a>
          {% endif %}
      </div>
    </header>
  </div>
  <nav class="navbar navbar-expand-md navbar-light bg-light d-md-none">
      <div class="container-fluid">
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobileMenu" aria-controls="navbarMobileMenu" aria-expanded="false" aria-label="Меню">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMobileMenu">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
              <li class="nav-item">
                  <a href="/" class="navbar-left"><img alt="Frame" width="120px" src="{% static 'img/fine_logo.svg' %}"></a>
                </li>
            <li class="nav-item">
              <a class="nav-link" href="/lectures"><div class="hvt">Лекции</div></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/master-classes"><div class="hvt">Мастер-классы</div></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shop"><div class="hvt">Магазин</div></a>
            </li>
              {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="/profile"><div class="hvt">Мой профиль</div></a>
                  </li>
                  {% if request.user.Role in 'Admin,Manager' %}
                      <a class="nav-link" href="/admin_codes"><div class="hvt">Админ панель</div></a>
                  {% endif %}
              {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login"><div class="hvt">Авторизация</div></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reg"><div class="hvt">Регистрация</div></a>
            </li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}

    {% endblock %}

</body>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block scripts %}

{% endblock %}
</html>