{% extends "base.html" %}

{% block title %}Лекция не найдена{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center h-100" id="fail_page">
    <div class="card shadow">
      <div class="card-body ">

        <div class="d-flex justify-content-center align-items-center mb-3">

          <h3 class="card-title hvt text-danger text-center">{{ message }}</h3>
        </div>
        <p class="card-text fs-4 ttf text-center">{{ comment }}</p>
        <div class="d-grid gap-2 col-6 mx-auto">
    </div>
    </div>
  </div>
  </div>

{% endblock %}