{% extends 'base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}

<div class="container-fluid vh-100">
        <div class="">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                    <div class="text-center">
                        <h1 class="text-primary">Авторизация</h1>
                    </div>
                    <form action="" method="POST">
                        <div class="p-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i class="bi bi-person-plus-fill text-white"></i></span>
                                <input name="user_login" type="text" class="form-control ttf" placeholder="Логин">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                                <input name="user_password" type="password" class="form-control ttf" placeholder="Пароль">
                            </div>
                            <button  class="btn btn-primary text-center mt-2" type="submit">
                                 <div class="hvt" style="color: white;">Войти</div>
                            </button>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}