{% extends 'base.html' %}

{% block title %}Мастер-классы{% endblock %}

{% block content %}
{% load static %}
<div class="container my-5" id="mycontainer">
        <h1 class="hvt text-primary ">Доступные мастер-классы</h1>
        <br>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-3">
            {% for ms_class in master_classes %}
             <div class="col">
                <div class="card shadow-sm align-items-stretch h-100 my_card">
                  <div class="card-body ">
                    <div class="table-responsive ">
                        <table class="table table-borderless table-sm">
                            <tr>
                              <td> <h5 class="hvt text-primary">Название:</h5></td>
                              <td><p class="ttf fs-5">{{ ms_class.Name }}</p></td>
                            </tr>
                            <tr>
                              <td> <h5 class="hvt text-primary">Время:</h5></td>
                              <td><p class="ttf fs-5">{{ ms_class.string_time|linebreaksbr }}</p></td>
                            </tr>
                            <tr>
                              <td> <h5 class="hvt text-primary">Место:</h5></td>
                              <td><p class="ttf fs-5">{{ ms_class.Location }}</p></td>
                            </tr>
                            <tr>
                                <td> <h5 class="hvt text-primary">Всего мест:</h5></td>
                                {% if ms_class.is_free == True %}
                                <td><p class="ttf fs-5">{{ ms_class.Places|linebreaksbr }}</p></td>
                                {% else %}
                                <td><p class="ttf fs-5">Места на запись закончились</p></td>
                                {% endif %}
                              </tr>
                        </table>
                    <p class="card-text ttf fs-4 text-primary">{{ ms_class.Description|linebreaksbr }}</p>
                    {% if ms_class.is_free == True %}
                    <div class="d-flex justify-content-between align-items-center">
                        <button onclick="attend({{ ms_class.id }})" type="button" class="btn btn-primary" style="color: white;">Записаться</button>
                    </div>
                    {% endif %}
                  </div>
                  </div>
                </div>
             </div>
            {% endfor %}
        </div>
      </div>

      <div class="container d-flex justify-content-center h-100 d-none" id="myasker">
        <div class="card shadow">
          <div class="card-body">

            <div class="d-flex justify-content-center align-items-center mb-3">

              <h3 class="card-title hvt text-primary">Запись на мастер-класс</h3>
            </div>
            <p class="card-text fs-4 ttf">Вы уверены, что хотите записаться на мастер-класс?</p>
            <div class="d-grid gap-2 col-6 mx-auto">
            <button onclick="agree_attend()" type="button" class="btn btn-outline-success">Да</button>
            <button onclick="decline_attend()" type="button" class="btn btn-outline-danger">Нет</button>
        </div>
        </div>
      </div>
      </div>

        <div class="container d-flex justify-content-center d-none" id="time_asker">
            <div class="card shadow">
              <div class="card-body">
                <div class="d-flex justify-content-center align-items-center mb-3">

                  <h3 class="card-title hvt text-primary">Выберите время</h3>
                </div>

                <div class="row row-cols-3 g-2" id="times">
                    <div class="col">
                      <button class="btn btn-primary" type="submit">11:00</button>
                    </div>
                      <div class="col">
                      <button class="btn btn-primary" type="submit">12:00</button>
                    </div>
                    <div class="col">
                      <button  class="btn btn-primary" type="submit">11:00</button>
                    </div>
                      <div class="col">
                      <button class="btn btn-primary" type="submit">12:00</button>
                    </div>
                </div>
            </div>
          </div>
        </div>



{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        var container = document.getElementById("mycontainer");
        var asker = document.getElementById("myasker");
        var time_asker = document.getElementById("time_asker")
        var time_row = document.getElementById("times")
            var lecture_id = -1;
        var time_index = -1
        function agree_time(chosen_time){
            time_asker.classList.add("d-none");
            asker.classList.remove("d-none");
            time_index = chosen_time;
        }
        function attend(chosen_master_class_id){
            lecture_id = chosen_master_class_id;
            get_time(chosen_master_class_id)
            time_asker.classList.remove("d-none")
            container.classList.add("d-none")
        }
        function get_time(ms_class_id){
            $.ajax({
                url: "/get_ms_time",
                data: {"ms_class_id": ms_class_id},
                method: "GET",
                success: function (data){
                    console.log(data);
                    time_row.innerHTML = ""
                    if (ms_class_id == 10 ){
                        time_row.classList.remove("g-2")
                        time_row.classList.add("g-5")
                    }
                    for (let i = 0; i < data['time'].length; i++){
                        make_button(data['time'][i][0], data['time'][i][1])
                    }
                },
                error: function (message){
                    console.log(message)
                    time_row.innerHTML = '<h3 class="card-title hvt text-danger">Произошла ошибка</h3>'
                }

            })
        }
        function make_button(time, local_time_index){
            let col = document.createElement("div")
            col.className = "col"
            let button = document.createElement("button")
            button.className = "btn btn-danger"
            let divtext = document.createElement("div")
            divtext.className = "hvt";
            divtext.style.color = "white";
            button.setAttribute("onclick", "agree_time("+local_time_index+")")
            divtext.innerText = time;
            button.appendChild(divtext);
            col.appendChild(button)
            time_row.appendChild(col);
        }
        function agree_attend(){
            if (lecture_id > 0) {
                document.location.href = "/attend_master_clasees/" + lecture_id + "/" + time_index;
            }
        }
        function decline_attend(){
            asker.classList.add("d-none");
            container.classList.remove("d-none");
            lecture_id = -1;
        }

    </script>
{% endblock %}