{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<div class="container-fluid vh-100" >
        <div class="">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                    <div class="text-center">
                        <h3 class="text-primary hvt">Регистрация</h3>
                    </div>
                    <form action="" method="POST">
                            <div class="p-3">
                                <div class="text-center">
                                  <h5 class="text-danger">{{ status }}</h5>
                            </div>
                            <br>
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i class="bi bi-person-plus-fill text-white"></i></span>
                                <input name="user_name" type="text" class="form-control ttf" placeholder="ФИО">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                                <input name="user_class" type="text" class="form-control ttf" placeholder="Группа">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text bg-primary"><i class="bi bi-person-plus-fill text-white"></i></span>
                              <input name="login" type="text" class="form-control ttf" placeholder="Логин">
                          </div>
                          <div class="input-group mb-3">
                              <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                              <input name="password" type="password" class="form-control ttf" placeholder="Пароль">
                          </div>
                          <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                            <input name="password_repeat" type="password" class="form-control ttf" placeholder="Пароль еще раз">
                        </div>
                            <button  class="btn btn-primary text-center mt-2" type="submit">
                                 <div class="hvt text-center" style="color: white;">Зарегистрироваться</div>
                            </button>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}